#wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

.only_w {display:  block !important;}
.only_m {display: none !important;}

.inner{
    width: calc(100% - 30px);
    max-width: 1760px;
    margin: 0 auto;
}
.inner_1200 {
    width: calc(100% - 30px);
    max-width: 1200px;
    margin: 0 auto;
}
.hidden {
    overflow: hidden;
    height: 100%;
}
/* top banner */

.alert_ment{ 
    padding: 13px 0;
    background: #c00c3f;
}

.alert_ment .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert_ment span{ 
     
    font-size: 14px;
    color: #fff;
}


/* header */
.m_header {display: none;}
header {
    position: relative;
}
header .heaer_top {
    border: 1px solid #eeeeee;
}
header.all_open {
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    z-index: 99;
    background: #fff;
}
header .inner{
    display: flex;
    /* justify-content: center; */
    height: 96px;
    align-items: center;
}
header .logo {
    margin-right: auto;
}
#gnb  {
    height: 96px;
    margin-right: auto;
    margin-left: auto;
}
#gnb > ul {
    display: flex;
}
#gnb > ul > li > a{
    display: block;
    font-size: 20px;
    color: #252525;
     font-weight: 700;
    line-height: 96px;
    position: relative;
}
#gnb > ul > li:not(:last-child) {
    margin-right: 86px;
}
#gnb > ul > li {
    position: relative;
    height: 100%;
}
#gnb > ul > li.on{position: relative;}
#gnb > ul > li.on >a {
    color: #c00c3f ;
}

#gnb > ul > li.on .submenu a:hover{
    color: #c00c3f;
    border-bottom: 1px solid ;
}
#gnb > ul > li.on::after {
    display: block;
    content: '';
    width: 100%;
    height:2px ;
    background: #c00c3f;
    position: absolute;
    bottom: 0;
}
#gnb > ul > li.active {position: relative;}
#gnb > ul > li.active >a {
    color: #c00c3f ;
}
#gnb > ul > li.active::after {
    display: block;
    content: '';
    width: 100%;
    height:2px ;
    background: #c00c3f;
    position: absolute;
    bottom: 0;
}

#gnb > ul > li.on .submenu {
    display: block;
}
#gnb ul.submenu {
   position: absolute;
   top: 100%; left: 50%;
   transform: translateX(-50%);
   text-align: center;
   width: 230px;
   background-color: #fff;
   display: none;
   z-index: 10;
   padding: 30px 10px 40px;
   border: 1px solid #eee;
   box-shadow: 1.2px 20px 39.1px 6.9px rgba(0, 0, 0, 0.05);
}
#gnb ul.submenu li {
    line-height: 2.4;
}
#gnb ul.submenu a {
    line-height:2;
    display: inline-block;
    color: #757575 ;
    font-size: 20px;
     font-weight: 700;
    border: 1px solid transparent;
}
.hd_right {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.hd_right .hd_btn{
     
    font-size: 18px;
    font-weight: 900;
    color: #c00c3f;
    border: 1px solid ;
    padding:7px 20px ;
    border-radius: 50px;
    display: flex;
    align-items: flex-start;
    margin-right: 20px ;
}
.hd_right .hd_btn span {
    font-size: 13px;
    font-weight: 500;
}
.hd_right fieldset {
    position: relative;
    padding-right: 20px;
}
.hd_right input[type="text"] {
    width: 260px;
    height: 46px;
    background:#f8f8f8 ;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    padding: 0 50px 0 15px;
    outline: none;
}

.hd_right input[type="button"] {
    width: 46px; height: 46px;
    border: none;
    background: url(../img/btn/search.png) no-repeat center;
    position: absolute;
    right: 25px; top: 50%;
    transform: translateY(-50%);
}
.hd_right .ham_btn {
    width: 30px; height: 96px;
    display: block;
    background: url(../img/btn/header_ham_btn.png) no-repeat center;

}
.hd_right .ham_btn.open {
    width: 30px; height: 96px;
    display: block;
    background: url(../img/btn/header_close.png) no-repeat center;

}
.m_all_menu {display: none;}
.all_menu {
    display: none;
    width: 100%;
    position: fixed;
    top: 98px; left: 0;
    background: #fff;
    z-index: 999999;
    /* overflow: hidden;
    box-shadow: 0px 80px 50px -30px  rgba(0, 0, 0, 0.15); */
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
}
.all_menu.open {
    display: block;
}
.all_menu .menu_list {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    align-items: stretch;
}
.all_menu .menu_list > li {
    padding-left:30px ;
    width:100%;
    box-sizing: border-box;
    margin: 50px 0 60px;
    display: flex;
}
.all_menu .menu_list .category span{
     font-weight: 700;
     
    font-size: 20px;
    width: 260px;
    display: block;
    flex:  0 0 auto;
    line-height: 1.5;
    padding-left:10px ;
    border-left: 4px solid #c00c3f ;
}
.all_menu .menu_list .depth02  {
    width: 100%;
    display: flex;
}
.all_menu .menu_list .depth02 > li.dep_02 {
    width: calc(25% - 30px);
    line-height: 2.2;
    text-align: center;
    
}
.all_menu .menu_list .depth02 > li:not(:last-child) {
    margin-right: 40px;
}
.all_menu .menu_list .depth02 .dep_02 >  a {
    font-size:20px ;
     
    line-height: 1.5;
    display: block;
    color: #252525;
     font-weight: 700;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
}
.all_menu .menu_list .depth03 {
    text-align: left;
    padding-top: 26px;
}
.all_menu .menu_list .dep_03 > a {
    line-height: 2;
    color: #454545;
    display: block;
}
/* .all_menu .menu_list .dep_03 > a.bold_dep {
    font-weight: 800;
} */

.all_menu .menu_list .depth04 {
    padding: 0 8px ;
    margin: 3px 5px;
    border-left: 1px solid #dddddd;
    display: none;
} 
.all_menu .menu_list .depth04 .dep_04 a {
    font-size: 14px;
    color: #999999 ;
    line-height: 2;
    display: block;
}
.all_menu .menu_list .depth04 .dep_04 a:hover {
   color: #454545;
}
/* .all_menu .menu_list .depth02 a:hover {
    color: #c00c3f;
    border-bottom: 1px solid ;
} */
/* .all_menu .menu_list >li:not(:last-child) {
    border-right: 1px solid#eee ;
} */

/* footer */
.ft_top {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.ft_top ul {
    display: flex;
} 
.ft_top li a  {
     
    font-size: 18px;
    margin-right: 40px;
    line-height: 70px;
}
.ft_top li:nth-child(1) a {
     font-weight: 700;
}
.ft_bot {
    display: flex;
    padding: 30px 0;
}
.ft_bot .info {
    margin-left: 40px;
}
.ft_bot .info_top {
    display: flex;
    margin-bottom: 30px;
    
}
.ft_bot .info_top a {
     
    font-weight: 400;
    color: #454545;
    font-size: 17px;
    margin-right: 30px;
}
.ft_bot address span {
     
    font-weight: 400;
    font-size: 15px;
    color: #757575;
    padding-right:14px ;
    margin-right: 14px;
    position: relative;
    line-height: 1.7;
}
.ft_bot address span:not(:last-child):after {
    display: block;
    width: 1px; height:12px ;
    background:#dddddd ;
    content: '';
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
}

.ft_bot .copy {
     
    font-size: 14px;
    color: #999999;
    line-height: 1.7;
}

.ft_bot .sel_box {
    margin-left: auto;
}
.ft_bot .sel_box select {
    width: 160px; height: 38px;
    padding-left: 15px;
    border: 1px solid #999999;
    background: url(../img/btn/sle_down.png) no-repeat center right 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance : none;
    color: #252525;


}

/* main */
.main {
    position: relative;
}
.main_viaual {
    overflow: hidden;
    position: relative;
}
/* .main_viaual .swiper-slide a img {width: 100%;} */
.main_viaual .swiper-slide > span {
    width: 100%; 
    padding-top: 43.9%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main_viaual .swiper-slide .main_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}
.main_viaual .swiper-slide .main_text  a {
    margin-top: 40px;
    text-align: center;
    display: block ;
}
.main_viaual .swiper-slide .main_text img {
    display: block;
    margin: 0 auto;
}

.main_viaual .swiper-slide .main_text .text_01{
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1s ease-in-out;
}
.main_viaual .swiper-slide .main_text .text_01 + a {
    opacity: 0;
    transform: translateY(-80px);
    transition: all 1s ease-in-out 0.3s;
}
.main_viaual .swiper-slide .main_text .text_02 + a  {
    opacity: 0;
    transform: translateY(-150px);
    transition: all 1s ease-in-out 0.5s;
}
.main_viaual .swiper-slide .main_text .text_02{
    /* display: block; */
    margin-top: 40px;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease-in-out 0.3s;
}

.main_viaual .swiper-slide.swiper-slide-active .main_text .text_01 ,
.main_viaual .swiper-slide.swiper-slide-active .main_text .text_02,
.main_viaual .swiper-slide.swiper-slide-active .main_text .text_01 + a,
.main_viaual .swiper-slide.swiper-slide-active .main_text .text_02 + a   {
    opacity: 1;
    transform: translateY(0);
}







.main_viaual .btn_wrap {
    max-width: 1760px;
    width: calc(100% - 30px);
    left: 50%;
    top: 50%;
    z-index: 10;
    height: 10px;
    position: absolute;
    margin: 0 auto;
    transform: translateX(-50%);
}

.main_viaual .swiper-button-next ,
.main_viaual .swiper-button-prev {
    width:54px ; height: 105px;
    top: 50%; transform: translateY(-50%);
    background: url(../img/btn/main_snext.png) no-repeat center;
}
.main_viaual .swiper-button-prev{
    background: url(../img/btn/main_sprev.png) no-repeat center;
}
.main_viaual .swiper-button-next::after ,
.main_viaual .swiper-button-prev::after {
    display: none;
}
.main_viaual .swiper_bot {
    position: absolute;
    bottom: 32px ;
    left: 50%;
    max-width: 1760px;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    z-index: 50;
}
.main_viaual .swiper_bot .swiper-pagination {
    position: static;
    display: flex;
    align-items: center;
}
.main_viaual .swiper_bot .swiper-pagination-bullet_wrap {
    display: flex;
    align-items: center;
}
.main_viaual .swiper_bot .swiper-pagination-bullet {
    display: flex;
    margin: 0 5px;
    align-items: center;
    width: 6px; height: 6px;
    background-color: #fff ;
    opacity: 1;
    float: left;
}
.main_viaual .swiper_bot .swiper-pagination-bullet-active  {
    background-color: #c00c3f ;
    margin-right: ;
}
.main_viaual .swiper_bot .swiper-pagination-bullet_wrap .swiper-pagination-bullet-active + span {
    display: block;
    flex: 0 0 auto;
     
    color: #fff;
    margin:0 20px ;
    flex: 0 0 auto;
}
.main_viaual .swiper_bot .swiper-pagination-bullet_wrap span {
  
  
    display: none;
}

.main_viaual .swiper_bot .sw_play {
    width: 30px; height:20px;
    background: url(../img/btn/sw_stop.png) no-repeat center ;
    z-index: 9;
    margin-left: 20px;
}
.main_viaual .swiper_bot .sw_play.on {
    background: url(../img/btn/sw_play.png) no-repeat center ;
}

/* 서브탭메뉴 */
.sub_nav {
    margin-top: 50px;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    flex-wrap: wrap;
}
.sub_nav li {
    width: 25%;
    text-align: center;
    
   
}
/* .sub_nav.web li:nth-last-child(n+3) {
    border-bottom: 1px solid #dbdbdb;
} */
.sub_nav.web li {
    width: 16.666% ;
}
.sub_nav li a {
    font-size:20px ;
    color: #757575;
    padding: 0 0 20px;
    display: block;
}
.sub_nav li.on {
    border-bottom:  2px solid #c00c3f  !important;
} 
.sub_nav li.on a {
     font-weight: 700;
    color: #c00c3f;
}

/* 메인 검색 */
.search_wrap {
    margin-top: 60px ;
    font-size: 20px;
}
.search_wrap strong {
    font-size: 20px;
     font-weight: 700;
}
.search_wrap > span {
    color: #c00c3f;
     font-weight: 700;
}
.search_wrap .search_list {
    margin-top: 20px;
    border-top: 2px solid #252525;
}
.search_wrap .search_list li {
    
    border-bottom: 1px solid #dbdbdb;
    
}
.search_wrap .search_list li a {
    padding: 30px 0  ;
    display: block;
    width: 100%; height: 100%;
}
.search_wrap .search_list li .gray_txt {
    font-size: 14px ;
    color: #999999;
    line-height: 2;
    padding-right:6px ;
    margin-right: 6px;
    position: relative;
}
.search_wrap .search_list li .gray_txt::after {
    display: block;
    position: absolute;
    content: '';
    width: 1px ; height: 10px;
    top: 50%; right: 0;
    transform: translateY(-50%);
    background:#eeeeee ;
}
.search_wrap .search_list li .page_location {
    font-size: 14px ;
    color: #454545;
    line-height: 2;
}
.search_wrap .list_ttl {
    font-size: 18px;
    line-height: 1.5;
}
.search_wrap .more_list {
    display: block;
    margin-top: 40px;
    border: 1px solid #cccccc ;
    width: 210px ; height: 54px;
    font-size: 18px;
    line-height: 54px;
    text-align: center;
    margin: 40px auto;
}
.search_wrap .list_ttl_no {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    padding: 42px;
}
.tab {
    margin-top: 50px;
    display: flex;
}
.tab li {
    width: 50%;
    text-align: center;
}
.tab li a {
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
    color: #999999;
    font-size: 20px;
    display: block;
}
.tab li a.on {
    color: #c00c3f;
    border-bottom: 2px solid #c00c3f;
     font-weight: 700;
}
.text_area_box {
    margin-top:30px ;
    background:#fff ;
    border: 1px solid #eee;
    height:550px ;
    overflow: auto;
    padding: 10px;
}
.text_area_box span,
.text_area_box strong,
.text_area_box p,
.text_area_box li {
    line-height: 1.5;
}
.sel_box_02 {
    margin-top: 30px;
}
.sel_box_02 select {
    height: 48px ;
    border: 1px solid #cccccc;
    padding: 0 90px 0 20px;
    background: url(../img/ico/sel_ico.png) no-repeat center right 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 에러창 */
.err + .m_h_bot.f_nav + footer {
    display: none!important;
}
.main_err {
    display: flex;
    justify-content: center;
}
.main_err .main_txt {
    margin-top: 230px;
    text-align: center;
}
.main_err .main_txt h2 {
    font-size: 70px;
    font-weight: 800;
}
.main_err .main_txt h2 strong {
    font-size:110px ;
    font-weight: 800;
}
.main_err .main_txt h2 strong span {
    color: #c00c3f;
}

.main_err .main_txt p {
    font-size: 30px;
    font-weight: 700;
    margin-top: 14px;
}
.main_err .main_txt div {
    margin-top:30px ;
}
.main_err .main_txt div span {
    display: block;
    color: #757575;
    font-size: 18px;
    line-height: 1.4;
}
.main_err .button_wrap a {
    font-size: 18px;
    color: #454545;
    display: block;
    width: 120px;
    line-height: 42px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin:30px auto;
}

.main_pop .main_bg {
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_pop .pop_wrap {
    max-width: 680px;
    width: 100%;
}
.main_pop .main_p_t {
    background: #c00c3f;
    display: flex;
    justify-content: space-between;
}
.main_pop .main_p_t p {
    color: #fff;
    line-height: 60px;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    font-size: 18px;
    /* font-weight: 700; */
    padding-left:20px ;
}
.main_pop .main_p_t .btn_close {
    width: 55px;
    height:60px ;
    background: url(../img/btn/top_pop_close.png) no-repeat center;
    margin-left: auto;
}
.main_pop .pop_cont  {
    background: #fff;
    max-height: 620px;
    overflow: auto;
    /* padding: 10px; */
}
.main_pop .pop_cont div {
    line-height: 1.5;
}
.main_pop .pop_cont div img {
    /* width: 100%; */
    margin: 0 auto;

}
.main_pop .today_btn {
    background: #fff;
    display: flex;
    border-top: 1px solid #dbdbdb ;
    justify-content: flex-end;
    padding: 14px;
}
.main_pop .today_btn input[type="checkbox"] {display: none;}
.main_pop .today_btn input[type="checkbox"]+label {
    font-size: 16px;
    color: #757575;
    padding-left: 27px;
    background: url(../img/btn/check.png) no-repeat center left;
}
.main_pop .today_btn input[type="checkbox"]:checked+label {
    background: url(../img/btn/check_on.png) no-repeat center left;
}
.main_pop .today_btn .btn_close {
    font-size: 16px;
    color: #454545;
    margin-left: 26px;
}


@media screen and (max-width :1350px) {
    .hd_right input[type="text"] {
        width: 200px;
    }
    #gnb > ul > li > a {
        font-size: 18px;
    }
    #gnb > ul > li:not(:last-child) {
        margin-right: 40px;
    }
    .hd_right .hd_btn {
        font-size: 15px;
    }
    .hd_right .hd_btn span {
        font-size: 12px;
    }
    .all_menu .menu_list .category span {
        width: 200px;
    }
}
@media screen and (max-width :1040px) {
    #gnb {
        display: none;
    }
    .all_menu .menu_list .category span {
        width: 160px;
    }
}

@media screen and (max-width :850px) {

    #wrap {
        overflow: hidden;
    }

    .only_w {display: none !important;}
    .only_m {display: block !important;}

    img.only_m {width: 100%;}


    .heaer_top {display: none;}
    .m_header {display: block;}


    .alert_ment MARQUEE {
        font-size: 12px;
        color: #fff;
    }
    .alert_ment button {
        margin-left: 10px;
        position: relative;
        z-index: 11;
    }

    .alert_ment button::after {
        position: absolute;
        top: -10px;
        left: -21px;
        width:32px ; height:26px;
        -webkit-filter: blur(5px); 
        -moz-filter: blur(5px); 
        -o-filter: blur(5px); 
        -ms-filter: blur(5px); 
        filter: blur(5px);
        z-index: -1; 
        content: "";
        background: #c00c3f;
    }
    .alert_ment button img {
        max-width: 10px ;
      
    }
    header .top_wrap {
        display: flex;
        height:60px;
        align-items: center;
       
    }
    header .logo {
        margin-right: auto;
        max-width: 70px;
        display: none;
    }
    header .logo.logo_show {
        display: block;
    }
    .m_header .m_h_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #eeeeee ;
        padding: 0 15px;
        position: relative;
    }
    .m_header .top_rigth  {
        display: flex;
    }
    .m_header .top_rigth button{
        display: block;
        width: 40px; height: 60px;
        background: url(../img/btn/search_m.png) no-repeat center/ 20px auto;
    }
    .m_header .top_rigth button.se_open {
        background: url(../img/btn/btn_close.png) no-repeat center/ 20px auto;
    }
    .m_header .top_rigth .m_menu{
        margin-left: 5px;
        background: url(../img/btn/header_ham_btn_m.png) no-repeat center/ 24px auto;
    }
    .m_header .m_h_bot.m_gnb_show {
        display: flex;
    }
    .m_header .m_h_bot {
        display: none;
        
        padding: 0 15px;
    }
    .m_header .m_h_bot li {
        width: 25%;
        text-align: center;
    }
    .m_header .m_h_bot li a {
        font-size: 13px;
         font-weight: 700;
        color: #454545;
        display: block;
        padding: 20px 0;
    }
    /* .m_all_menu.open {display: block;} */
    .m_all_menu {
        display: none;
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 999999;
    }
    .m_all_menu.none {top: 0}
    .m_all_menu .all_top {
        padding:  15px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eeeeee;


    }
    .m_all_menu .all_top .btn_close {
        width: 40px ;
        height: 30px;
        background: url(../img/btn/btn_close.png) no-repeat center /18px auto;
    }
    .m_all_menu .m_gnb  {
        padding: 0 15px;
        overflow-y:scroll;
        overflow-x:hidden;
        height: 100%;
        /* padding-bottom: 50px; */
    }
    .m_all_menu .m_gnb p {
        font-size: 15px;
        font-weight: 700;
        border-left: 3px solid #c00c3f;
        padding-left: 8px;
        margin: 17px 0;
        line-height: 1.5;

    }
    .m_all_menu .m_gnb > li {
        border-bottom: 1px solid #dbdbdb ;
    }
    .m_all_menu .m_gnb > li:nth-child(1) {
        border-top: 1px solid #dbdbdb;
    }


    .m_all_menu .m_gnb > li:last-child {
        margin-bottom:170px;
    }
    .m_all_menu .m_gnb .submenu > li a {
        font-size: 13px;
        font-weight: 700;
        color: #454545;
        display: block;
        padding: 15px 13px ;
    }
    .m_all_menu .m_gnb .submenu > li a.m_dep02 {
        background: url(../img/btn/m_all_menu_down.png) no-repeat center right / 11px auto;
    }  
    .m_all_menu .m_gnb .submenu > li a.m_dep02.active {
        background: url(../img/btn/m_all_menu_up.png) no-repeat center right / 11px auto;
    }

    .m_all_menu .m_gnb .submenu .m_dep_03 {
        display: none;
        background: #fafafa;
        border-top: 1px solid #eeeeee;
        padding-left: 3px;
    }
    .m_h_top .search_area {
        position: absolute;
        top: 100%; left: 0;
        width: 100%;
        background: #fff;
        padding: 15px;
        border-top: 1px solid #eeeeee ;
        z-index: 999;
        display: none;
        box-shadow: 0 5px 9px 0 rgb(0 0 0 / 14%);

    }
    .m_h_top .search_area input[type="text"] {
        width: 100%;
        height: 40px;
        background:#fafafa ;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        padding: 0 50px 0 15px;
        outline: none;
    }

    .m_h_top .search_area input[type="button"] {
        width: 40px; height: 40px;
        border: none;
        background: url(../img/btn/search_m.png) no-repeat center/ 20px auto;
        position: absolute;
        right: 20px; top: 50%;
        transform: translateY(-50%);
    }

    /* footer */
    .f_nav.none {display: none  !important;}

    .f_nav.fixed {
        position: fixed;
        z-index: 999;
        bottom: 0; left: 0;
        width: 100%;
    }
    .f_nav {
        display: flex !important;
        border-top: none;
        padding: 0 15px;
        background: #454545;
    }
    .f_nav li {
        width: 25%;
        text-align: center;
    }
    .f_nav li a {
        font-size: 13px;
         font-weight: 700;
        color: #fff;
        display: block;
        padding: 20px 0;
    }
    footer.main .ft_bot  {
        padding: 30px 0;
    }
    .ft_bot {
        display: flex;
        padding: 30px 0 60px;
        flex-direction: column-reverse;
    }
    .ft_top li a {
        font-size: 13px;
        margin-right: 0;
        line-height: 53px;
        display: block;
    }
    .ft_top li + li a {
        position: relative;
        padding-left:15px ;
        margin-left: 15px;
    }
    .ft_top li + li a::after {
        content: '';
        position: absolute;
        top: 50%;left: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 13px;
        background: #eeeeee;
    }
    footer .info_top {display: none !important;}
    .ft_bot .sel_box {
        margin-left: 0;
        margin-bottom: 25px;
    }
    .ft_bot .sel_box select {
        width: 100%;
        background: url(../img/btn/sle_down_m.png) no-repeat center right 15px/ 12px auto;
        font-size: 13px;
    }
    .ft_bot .logo {
        max-width: 70px ;
        margin-bottom: 25px;
    }
    .ft_bot .info {
        margin-left: 0;
    }
    .ft_bot address span {
        font-size: 12px;
        padding-right: 12.5px;
        margin-right: 12.5px;
        line-height: 1.75;
    }
    .ft_bot address span:not(:last-child):after {
        display: none;
    }
    .ft_bot .copy {
        font-size: 12px;
        margin-top:22px ;
        margin-bottom: 8px;
    }
    .main_viaual .btn_wrap {
        top: 60%;
    }
    
    .main_viaual .swiper-slide > span {
        padding-top: 130%;
    }
    
    .main_viaual .swiper-button-next, .main_viaual .swiper-button-prev {
        width: 28px;
        height:50px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../img/btn/swiper_ne_m.png) no-repeat center/ 28px auto;
    }
    .main_viaual .swiper-button-prev {
        background: url(../img/btn/swiper_pr_m.png) no-repeat center/ 28px auto;
    }
    .main_viaual .swiper_bot .swiper-pagination-bullet {
        margin: 0 6px;
        width: 8px;
        height: 8px;
    }
    .main_viaual .swiper_bot .swiper-pagination-bullet_wrap .swiper-pagination-bullet-active + span {
        margin: 0 15px;
        font-size: 13px;
        line-height: 14px;
    }
    .main_viaual .swiper_bot .sw_play {
        width: 30px;
        height: 30px;
        background: url(../img/btn/sw_stop_m.png) no-repeat center/ 15px auto;
        z-index: 9;
        margin-left:0;
    }
    .main_viaual .swiper_bot .sw_play.on {
        background: url(../img/btn/sw_play_m.png) no-repeat center /15px auto;
    }

    .main_viaual .swiper-slide .main_text {
        position: absolute;
        left: 50%;
        top: 12%;
        transform: translate(-50%, 0);
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .main_viaual .swiper-slide .main_text > img {
        max-width: 80%;
    }

    .main_viaual .swiper-slide .main_text .text_02 {
        /* display: block; */
        
    }

    .main_viaual h3 {
        font-size: 32px ;
        color: #fff;
        text-align: center;
        line-height: 1.4;
    }
    /* .main_viaual p {
        font-size: 13px ;
        color: #fff;
        text-align: center;
        line-height:1.6 ;
        margin-top: 20px;
    } */
    .main_viaual a {
        margin-top:35px !important;
        color: #fff;
        display: flex !important;
        justify-content: center;
        align-items: center;


    }
    .main_viaual a i {
        width:10px ;
        height: 15px;
        display: block;
        background: url(../img/btn/main_a.png) no-repeat center/ 8px auto;
        margin-left:9px;
    }

    .main_viaual h3{
        opacity: 0;
        transform: translateY(-50px);
        transition: all 1s ease-in-out;
    }
    .main_viaual h3 + a {
        opacity: 0;
        transform: translateY(-80px);
        transition: all 1s ease-in-out 0.3s;
    }
    .main_viaual p + a  {
        opacity: 0;
        transform: translateY(-150px);
        transition: all 1s ease-in-out 0.5s;
    }
    .main_viaual p{
        /* display: block; */
        margin-top: 40px;
        opacity: 0;
        transform: translateY(-100px);
        transition: all 1s ease-in-out 0.3s;
    }
    
    .main_viaual .swiper-slide.swiper-slide-active h3 ,
    .main_viaual .swiper-slide.swiper-slide-active p,
    .main_viaual .swiper-slide.swiper-slide-active h3 + a,
    .main_viaual .swiper-slide.swiper-slide-active p + a   {
        opacity: 1;
        transform: translateY(0);
    }
    




    .sub_gnb {
        display: flex !important;
        border-bottom: 1px solid #eeeeee ;
    }
    .sub_gnb li {
        width: 33.333%;
        text-align: center;
        height: auto;
    }
    .sub_gnb li.on {
        border-bottom: 2px solid #c00c3f;
    }
    .sub_gnb li.on a {
        color: #c00c3f;
    }
    .sub_gnb li a {
        display: block;
        padding: 15px 0;
        font-size: 13px; 
         font-weight: 700;
        color: #454545;
    }
    .sub_nav_wrap {
        position: relative;
        margin-top:20px;
    }
    .sub_nav_wrap .now_btn {
        text-align: left;
        padding: 10px ;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        border: 1px solid #dbdbdb ;
        font-size: 13px;
         font-weight: 700;
        color: #454545;
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-image: url(../img/btn/sub_nav_down.png);
        background-size: 10px;
    }
    .sub_nav_wrap .now_btn.on {
        background-image: url(../img/btn/sub_nav_up.png);
    }
     .sub_nav, .sub_nav_02.sub_toggle {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin-top: 1px;
        padding: 0 15px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 5px 9px 0 rgba(0,0,0,0.14);
        box-sizing: border-box;
    }
    .sub_nav li,
    .sub_nav_02.sub_toggle li {
        width: 100%;
    }
    .sub_nav li a ,
    .sub_nav_02.sub_toggle li a {
        padding: 15px 5px;
        border: 0;
        font-size: 12px;
         font-weight: 700;
        color: #454545;
        text-align: left;
        
    }
    .sub_nav li + li,
    .sub_nav_02.sub_toggle  li + li  {
        border-top: 1px solid #dbdbdb !important;
    }
    .sub_nav li.on,
    .sub_nav_02.sub_toggle  li.on  {
        border-color: rgba(255, 255, 255, .2);
        border-bottom: none !important;
    }
    /* .sub_nav.web li:nth-last-child(n+3) {
        border-bottom:none
    } */
    .sub_nav.web li {
        width: 100% ;
    }
    .sub_nav_02.sub_toggle li {
        border: none;
        margin-right: 0;
        border-radius: 0;
        margin-bottom: 0;
    }
    .sub_nav_02.sub_toggle li.on {
        background:transparent;
        border:none;
    }
    .sub_nav_02.sub_toggle li.on a {
        color: #c00c3f;
        font-weight: 700;
    }

    .business .sub_gnb li {
        width: 50%;
    }
    /* 메인 팝업 */
    .main_pop .main_p_t p {
        line-height: 50px;
        font-size: 14px;
    }
    .main_pop .main_p_t .btn_close {
        width: 35px;
        height:  50px;;
        background: url(../img/btn/top_pop_close_m.png) no-repeat center/ 15px auto;
    }
    .main_pop .pop_cont div {
        line-height: 1.5;
        font-size: 13px;
    }
    .main_pop .pop_cont {
        /* height: 430px; */
    }
    .main_pop .today_btn {
        justify-content: space-between;
        padding: 10px;
    }
    .main_pop .today_btn input[type="checkbox"]+label {
        font-size: 12px;
        color: #757575;
        line-height: 19px;
        padding: 4px 0 4px 27px;
        background: url(../img/btn/check_m.png) no-repeat center left/16px auto;
    }
    .agree_area .check_box input[type="checkbox"]:checked+label {
        background: url(../img/btn/check_on_m.png) no-repeat center left /16px auto;
    }
    .main_pop .today_btn .btn_close {
        font-size: 12px;
    }

    /* 에러창 */
    .err + .m_h_bot.f_nav {
        display: none !important;
    }
    .main_err .main_txt {
        margin-top:93px;
        text-align: center;
    }
    .main_err .main_txt h2 {
        font-size: 35px;
    }
    .main_err .main_txt h2 strong {
        font-size: 55px;
    }
    .main_err .main_txt p {
        font-size:18px;
        margin-top: 10px;
    }
    .main_err .main_txt div span {
        font-size: 13px;
    }
    .main_err .button_wrap a {
        font-size: 14px;
        color: #454545;
        line-height: 34px;
        width:100px ;
        border: 1px solid #cccccc ;
        border-radius: 2px;
        display: block;
        margin: 0 auto;

    }


}

@media screen and (max-width :350px) {
    .main_viaual h3 {
        font-size: 26px;
    }
   

    .main_viaual p {
        font-size: 12px;
        color: #fff;
        text-align: center;
        line-height: 1.6;
        margin-top: 20px;
    }
}