@charset "utf-8";

/* font */
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* lgsmha */
@font-face {
    font-family:'LG Smart_B';
    font-style: normal;      
    font-weight:300;
    src: url('../fonts/LGSmHaR.eot');    
    src: url('../fonts/LGSmHaR.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LGSmHaR.woff') format('woff'),
         url('../fonts/LGSmHaR.ttf') format('truetype'); 
  }
  
      
@font-face {
    font-family: 'LGSMAR';    
    font-style: normal;    
    font-weight: 300;
    src: url(../fonts/LG-Smart-Light.woff) format('woff');
}

@font-face {
    font-family: 'LGSMAR';   
    font-style: normal;    
    font-weight: 500;
    src: url(../fonts/LG-Smart-Regular.woff) format('woff');
}

@font-face {
    font-family: 'LGSMAR';   
    font-style: normal;    
     font-weight: 600;
    src: url(../fonts/LG-Smart-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'LGSMAR';   
    font-style: normal;    
    font-weight: 900;
    src: url(../fonts/LG-Smart-Bold.woff) format('woff');
}

@font-face {
    font-family: 'LGSmHa';   
    font-style: normal;    
    font-weight: 300;
    src: url(../fonts/LGSmHaL.woff) format('woff');
}

@font-face {
    font-family: 'LGSmHa';   
    font-style: normal;    
    font-weight: 400;
    src: url(../fonts/LGSmHaR.woff) format('woff');
}

@font-face {
    font-family: 'LGSmHa';   
    font-style: normal;    
     font-weight: 700;
    src: url(../fonts/LGSmHaSB.woff) format('woff');
}
@font-face {
    font-family: 'LGSmHa';   
    font-style: normal;    
    font-weight: 800;
    src: url(../fonts/LGSmHaB.woff) format('woff');
}



/* CSS Document */
*{padding:0; margin:0; word-break:keep-all;   font-family: 'LGSmHa' !important;  box-sizing: border-box;}
html,body{width:100%;height:100%;}
html{overflow-y:scroll;}
body,b,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0; padding:0;line-height: 1; letter-spacing: -0.04em;}
table,th,tr,td,thead,tbody,input,textarea{}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{border:none;background: none;}
select { /* 네이티브 외형 감추기 -webkit-appearance: none; -moz-appearance: none; appearance: none; */ vertical-align:middle;}
select::-ms-expand { display: none; }
hr,legend {display:none;}
img,fieldset,iframe{border:none;}
img{vertical-align:top; max-width: 100%;}
textarea{padding:8px;}
caption {display:none;}
input,select,button{vertical-align:middle;}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0; }
fieldset{min-width:100%;}
a {color:inherit;}
a:link,a:visited,a:active,a:focus{text-decoration:none;}
a:hover{text-decoration:none;}

input[type=text]::-ms-clear{display:none;}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"]{border: 1px solid #dbdbdb;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
input[type="text"]:hover,input[type="text"]:focus,
input[type="password"]:hover,input[type="password"]:focus,
input[type="email"]:hover,input[type="email"]:focus,
input[type="number"]:hover,input[type="number"]:focus,
input[type="tel"]:hover,input[type="tel"]:focus{border-color: #bbb;}


/* 달력 */
.ui-datepicker-trigger { display:none; }
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{ display:none; position:relative; margin-top:10px; background:#fff; border:solid 1px #dddddd; border-radius:5px; z-index:99999 !important; }
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all:before {position:absolute; top:-1px; left:20px; content:""; width:8px; height:8px; border-top:solid 1px #ddd; border-radius:0px; border-left:solid 1px #ddd; background-color:#fff; transform:translate(-50%,-50%) rotate(45deg);}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table{width: auto; background:#fff;}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table thead tr th{width:32px; line-height:24px; height:24px;
text-align:center; padding-right:5px;}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table thead tr th span{font-size:12px; font-weight:400; color:#999999;}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td{text-align:center; color:#666666; font-size:12px;
width:35px; line-height:33px; height:33px; padding-right:0px;  background:#ffffff;}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td a{ display:block; margin:1px; border-radius:50%;  color:#666666; font-size:14px; font-weight:400;}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td a:hover { background-color:#c00c3f; color:#fff;}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td a.ui-state-default.ui-state-active{ border:solid 1px #c00c3f;}
.ui-datepicker-title{display:table; margin:0 auto; margin-top:20px; margin-bottom:20px; }
.ui-datepicker-title span{text-align:center; color:#000000; font-size:15px; font-weight:500;}
.ui-datepicker-title span.ui-datepicker-year { font-weight:400;}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{position:relative;}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all a.ui-datepicker-prev{text-indent:-9999px; position:absolute; 
background:url("../img/btn/calandar_left.png")no-repeat center; width:6px; height:10px; left:10px;top:6px;}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all a.ui-datepicker-next{text-indent:-9999px; position:absolute; 
background:url("../img/btn/calandar_right.png")no-repeat center; width:6px; height:10px; right:10px;top:6px;}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all table tbody tr td.ui-datepicker-unselectable.ui-state-disabled
{background:#fff; color:#cecece;}
input.date_form :-ms-input-placeholder { color: #333333; } 
input.date_form::-webkit-input-placeholder { color: #333333; }
input.date_form::-moz-placeholder { color: #333333; }
button.ui-datepicker-trigger {display:none;}
img.ui-datepicker-taigger { margin-left:10px; margin-top:1px;}
.date_form { background:url("../img/ico/ico_calander.png") no-repeat; background-position: 10px center;}
.date_form.date_form3 { background:none;}

